version: "3.9"

services:

  db:
    image: postgres:16-alpine
    container_name: container_db
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 2s
      timeout: 3s
      retries: 30

  web:
    build: 
      context: .
      dockerfile: docker/django.Dockerfile
    container_name: container_web
    env_file: .env
    volumes:
      - ./django:/app
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    expose:
      - "8000"
    depends_on:
      db:
        condition: service_healthy
    restart: always

  nginx:
    image: nginx:alpine
    container_name: container_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./staticfiles:/staticfiles
      - ./media:/media
      - ./certs:/etc/ssl/certs:ro
    depends_on:
      - web
    restart: always

  mailpit:
    image: axllent/mailpit:latest
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI


volumes:
  postgres_data:
